<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>

      <div class="col-md-4">
        &copy; <%= Time.now.year %>
      </div>

      <div class="col-md-4">
        <a href="https://github.com/siakaramalegos/home_splash" target="_blank">
          <%= fa_icon "github", text: "Source code" %>
        </a>
      </div>
    </div>
  </div>
</footer>