<div class = "row">
  <div id="main" class = "col-md-12">
    <h1 id="date"><%= @current_date %></h1>
    <h1 id="clock"><%= @current_time %></h1>
    <p id="greeting"><%= @greet_message %></p>
  </div>
</div>
