/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

$minor-sized: 0.7em;

body {
  font-family: Arial;
  font-size: 20px;
  color: #fff;
  background-color: #2E41B3;
  background: image-url("OpaBySia00226.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .flash.notice {
    background-color: rgba(255,0,0,0.5);
    padding: 1em;
    width: 500px;
    margin: 0.5em auto;
    border-radius: 5px;
    font-weight: bold;

  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  padding: 1em 0 1em 0;
  color: white;
  left: 0;
  font-size: $minor-sized;

  #quote {
    font-family: 'Lobster', cursive;
    font-weight: normal;
    font-size: 20px;

    &:before {
      content: open-quote;
    }

    &:after {
      content: close-quote;
    }
  }

  a {
    color: white;
    text-decoration: none;

    &:hover {
      color: #ccc;
    }
  }

  #author {
    display: none;
  }
}

.shadow {
  text-shadow: 2px 2px 1px #555; // add shadow for text
}

#clearance_links {
  font-size: $minor-sized;
  padding: $minor-sized;

  a {
    text-decoration: none;
    color: white;
    // display: block;

    &:hover {
      color: #ccc;
    }
  }
}

#clearance {
  background-color: rgba(0,0,0,0.5);
  padding: 1em 3em 3em 3em;
  border-radius: 5px;
  margin: 0 auto;
  // text-align: center;
  width: 500px;

  a {
    color: #eee;
    text-decoration: none;
    display: block;

    &:hover {
      color: #ccc;
    }

  }

  div {
    padding-top: 0.7em;
  }

  .other-links {
    font-size: $minor-sized;
    margin-top: 0.7em;
    //padding: 10px;
    //border: 1px solid rgba(255,255,255,0.6);
    //border-radius: 5px;

    a {
      padding: 2px;
    }
  }
}